{%extends "layout.html"%} {%block content%}
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 mt-4">
      <div class="text-center h1 mb-3" style="color: brown">User login</div>
      {% include "_msgs.html"%} {% from "_formhelpers.html" import render_field
      %}
      <form method="post" enctype="multipart/form-data">
        <div>
          {{ render_field(form.username, class="form-control") }} {{
          render_field(form.password, class="form-control") }}
        </div>
        <p><input type="submit" value="Login" class="btn btn-info mt-3" /></p>
        <div>
          <p>Don't have an account? <a href="/register">Click here</a></p>
        </div>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
{%endblock content%}
